.navbar{
    background: rgba(25, 0, 0, 0.5);
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #25383C;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}
.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#343a40!important
}
.header{
    background-image: url('../images/rodrigo-soares-250630-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
}
.description{
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
}
.description h3{
    color:#FFFAFA ;
    font-style: oblique;
    margin-bottom: 80px;
    font-size: 300%;
}
.description p{
    top: 15px;
    color:#ffffff;
    font-size: 20px;
    width: 60%;
    line-height: 1.5;
}
.description button{
    border:1px  solid #483D8B;
    background:#6A5ACD;
    color:#fff;
}
.description h6{
    color:#FFFAFA ;
    font-style: oblique;
    margin-bottom: 50px;
}
.about{
    margin: 4sem 0;
    padding: 1em;
    position: relative;
}
.about h1{
    color:#F97300;
    margin: 2em;
}
.about img{
    height: 100%;
    width: 60%;
    border-radius: 50%
}
.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}
.about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
}
.about .desc h3{
    color: #10828C;
}
.about .desc p{
    line-height:2;
    color:#888;
}
.row{
    display: inline-block;
}
.portfolio{
 margin: 4em 0;
    position: relative; 
}
.portfolio h1{
 color:#F97300;
 margin: 2em; 
}
.portfolio img{
  height: 20rem;
  width: 100%;
  margin: 1em;
}
